---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 25 2024')}
	heroImage="/blog-bg.jpeg"
>

	<p>
		大家好，我是毛宇。一名🏷️前端工程师👨‍💻 |、🏷️PM
	</p>
	<p>
		我在网络上记录一些自己的技术知识和想法💡。
	</p>
	<p>性格：ENTJ</p>

	
</Layout>
