---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<!-- <img style="width:50px; float:left;" src="../../public/favicon.svg" /> -->
			<h1> Hello, I'm 毛宇</h1>
			<h4>完成比完美更重要</h4>
			<p>
				我会在这里分享一些技术知识和想法。
			</p>
		</main>
		<Footer />
	</body>
</html>
